<%= form_with(model: [project, project.discussions.build]) do |form| %>
    <div class="form-control">
      <div class="field">
        <%= form.label :discussion, style: "display: block" %>
        <%= form.text_area :discussion, class: "form-control" %>
      </div>
      <%= form.rich_text_area :body %>
      <%= form.submit "Add Discussion", class: "btn btn-primary mt-2" %>
    </div>
  <% end %>

  