
<div class="container">
  <%= render @project %>

  <div>
    <%= link_to "Edit this project", edit_project_path(@project) %> |
    <%= link_to "Back to projects", projects_path %>

    <%= button_to "Delete this project", @project, method: :delete, class: "btn btn-danger"%>
  </div>
</div>

<div class="container mt-5">
  <%= render "discussions/form", project: @project %>
  <% @discussions.each do |discussion| %>
    <%= render "discussions/discussion", project: @project, discussion: discussion %>
  <% end %>

</div>
